@import "~bootstrap/scss/bootstrap.scss";

body{
    margin-top:20px;
    background:#ffffff;
}

.img-md {
    width: 100px;
    height: 100px;
}

.panel {
    box-shadow: 0 5px 0 #ffffff;
    border-radius: 5;
    border: 5;
    margin-bottom: 15px;

}

.mar-top {
    margin-top: 15px;

}


.panel-body {
    padding: 10px;
    background:#03c4ca;
    margin: 25px;
}
